.checkBoxStyle {
    margin-left: 10px;
}

.task-enter {
    opacity: 0.1;
    transition: all 500ms ease-out;  
  }
  
.task-enter-active {
    opacity: 0.5;
    transition: all 500ms ease-out;
}

.task-exit {
    opacity: 1;
    text-decoration: line-through;
}

.task-exit-active {
    opacity: 0.1;
    transition: all 500ms ease-out;
    text-decoration: line-through;
}
